package y${YEAR}

import common.puzzle.solvePuzzle
import common.puzzle.Input
import common.puzzle.Puzzle
import common.datastructures.*
import common.ext.*
import java.util.*
import kotlin.math.*
import kotlin.system.exitProcess


fun main() = solvePuzzle(year = 20${YEAR}, day = ${DAY}) { Day${DAY}(it) }

class Day${DAY}(val input: Input) : Puzzle {

    override fun solveLevel1(): Any {
        TODO()
    }

    override fun solveLevel2(): Any {
        TODO()
    }
}
