package y${YEAR}

import common.puzzle.Input
import org.junit.jupiter.api.Assertions.assertEquals
import org.junit.jupiter.api.Test

internal class Day${DAY}Test {
    private val sample = Input("""

    """.trimIndent())

    private val day = Day${DAY}(sample)

    @Test
    fun solveLevel1() {
        assertEquals(, day.solveLevel1())
    }

    @Test
    fun solveLevel2() {
        // assertEquals(, day.solveLevel2())
    }
}
